<div class="col-md-12">
    <form action="POST" method="POST">
        {{!-- User Information --}}
        <div class="section-wrapper">
            <div class="section-title">
                <h4><i class="fas fa-store-alt"></i>Produce Item</h4>
                <hr class="my-3">
            </div>
            <div class="section-content">
                <div class="form-row">
                    <div class="form-group col required">
                        <label for="materialType">Stock/Production</label>
                        <select type="text" id="materialType" name="materialType" class="form-control" required>
                            <option value="" disabled selected>Choose One</option>
                            <option value="Stock">Stock</option>
                            <option value="Production">Production</option>
                        </select>
                    </div>
                </div>
               
                    <table id="filterable-table-next" class="table table-bordered table-striped">
                        <thead style="width:100%">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Supplier</th>
                                <th scope="col">Available</th>
                                <th scope="col">Cost</th>
                                <th scope="col">Reserve</th>
                            </tr>
                        </thead>
                        <tbody>
    
                        </tbody>
                    </table>

            </div>
            <div style="float:right; padding-top:10px">
                <button type="button" id="addItems" name="addItems" class="btn btn-primary justfiy-content-end" onclick="getItems('stock')"><i class="far fa-save"></i> Add</button>
            </div>
        </div>
    </form>
</div>