<div class="col-md-12">
    <div style="padding: 10px">
        <fieldset>
            <legend style="width: auto;">Set Restrictions</legend>
            <div style="padding: 20px;">
                <div class="form-row">
                    <div class="form-group col"> 
                        <div class="form-row">
                            <div class="form-group col">
                                <fieldset class="restriction-container">
                                    <legend style="width: auto;">User Restrictions</legend>
                                    <div style="padding: 10px;">
                                        <div class="form-check" style="padding-bottom: 20px;">
                                            <input class="form-check-input" type="checkbox" value="" id="viewUsers">
                                            <label class="form-check-label" for="viewUsers">
                                                View Users
                                            </label>
                                        </div>
                                        <div class="form-check" style="padding-bottom: 20px;">
                                            <input class="form-check-input" type="checkbox" value="" id="editUsers">
                                            <label class="form-check-label" for="editUsers">
                                                Edit Users
                                            </label>
                                        </div>
                                        <div class="form-check" style="padding-bottom: 20px;">
                                            <input class="form-check-input" type="checkbox" value="" id="createUsers">
                                            <label class="form-check-label" for="createUsers">
                                                Create Users
                                            </label>
                                        </div>
                                    </div>  
                                </fieldset>
                            </div>
                            <div class="form-group col" style="padding-right: 10px;">
                                <fieldset class="restriction-container">
                                    <legend style="width: auto;">Supplier Restrictions</legend>
                                    <div style="padding: 10px;">
                                        <div class="form-check" style="padding-bottom: 20px;">
                                            <input class="form-check-input" type="checkbox" value="" id="viewSuppliers">
                                            <label class="form-check-label" for="viewSuppliers">
                                                View Supplier
                                            </label>
                                        </div>
                                        <div class="form-check" style="padding-bottom: 20px;">
                                            <input class="form-check-input" type="checkbox" value="" id="editSuppliers">
                                            <label class="form-check-label" for="editSuppliers">
                                                Edit Supplier
                                            </label>
                                        </div>
                                        <div class="form-check" style="padding-bottom: 20px;">
                                            <input class="form-check-input" type="checkbox" value="" id="registerSuppliers">
                                            <label class="form-check-label" for="registerSuppliers">
                                                Register Supplier
                                            </label>
                                        </div>
                                    </div>  
                                </fieldset>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col">
                                <fieldset class="restriction-container">
                                     <legend style="width: auto;">Stock/Items Restrictions</legend>
                                     <div class="form-row" style="padding-top: 10px; padding-left: 10px;">
                                        <div class="form-group col">
                                            <div class="form-check" style="padding-bottom: 20px;">
                                                <input class="form-check-input" type="checkbox" value="" id="viewStock">
                                                <label class="form-check-label" for="viewStock">
                                                    View Stock
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group col">
                                            <div class="form-check" style="padding-bottom: 20px;">
                                                <input class="form-check-input" type="checkbox" value="" id="editStock">
                                                <label class="form-check-label" for="editStock">
                                                    Edit Stock
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group col">
                                            <div class="form-check" style="padding-bottom: 20px;">
                                                <input class="form-check-input" type="checkbox" value="" id="addCategory">
                                                <label class="form-check-label" for="addCategory">
                                                    Add Category
                                                </label>
                                            </div>
                                        </div>     
                                    </div>  
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col">
                        <fieldset class="restriction-container">
                            <legend style="width: auto;">Order Restrictions</legend>
                            <div class="form-row">
                                <div class="form-group col">
                                    <div style="padding-top: 10px; padding-left: 30px">
                                        <div class="form-check" style="padding-bottom: 20px;">
                                            <input class="form-check-input" type="checkbox" value="" id="viewProduction">
                                            <label class="form-check-label" for="viewProduction">
                                                View Production
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col">
                                    <div style="padding-top: 10px;">
                                    <div class="form-check" style="padding-bottom: 20px;">
                                        <input class="form-check-input" type="checkbox" value="" id="requestProduction">
                                        <label class="form-check-label" for="requestProduction">
                                            Request Production
                                        </label>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    <div style="padding-top: 10px; padding-left: 30px">
                                        <div class="form-check" style="padding-bottom: 20px;">
                                            <input class="form-check-input" type="checkbox" value="" id="updateProduction">
                                            <label class="form-check-label" for="updateProduction">
                                                Update Production
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col">
                                    <div style="padding-top: 10px;">
                                    <div class="form-check" style="padding-bottom: 20px;">
                                        <input class="form-check-input" type="checkbox" value="" id="editProduction">
                                        <label class="form-check-label" for="editProduction">
                                            Edit Production
                                        </label>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    <div style="padding-top: 10px; padding-left: 30px">
                                        <div class="form-check" style="padding-bottom: 20px;">
                                            <input class="form-check-input" type="checkbox" value="" id="approveProduction">
                                            <label class="form-check-label" for="approveProduction">
                                                Approve Production
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col">
                                    <div style="padding-top: 10px;">
                                    <div class="form-check" style="padding-bottom: 20px;">
                                        <input class="form-check-input" type="checkbox" value="" id="rejectProduction">
                                        <label class="form-check-label" for="rejectProduction">
                                            Reject Production
                                        </label>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    <div style="padding-top: 10px; padding-left: 30px">
                                        <div class="form-check" style="padding-bottom: 20px;">
                                            <input class="form-check-input" type="checkbox" value="" id="viewMaterialReq">
                                            <label class="form-check-label" for="viewMaterialReq">
                                               View Material Request
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col">
                                    <div style="padding-top: 10px;">
                                    <div class="form-check" style="padding-bottom: 20px;">
                                        <input class="form-check-input" type="checkbox" value="" id="editMaterialReq">
                                        <label class="form-check-label" for="editMaterialReq">
                                            Edit Material Request
                                        </label>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div style="float:right;">
                <button type="button" id="setRestrictions" name="setRestrictions" class="btn btn-outline-primary">Confirm</button>
            </div>
            </div>
        </fieldset>
    </div>
</div>

<style>
    .restriction-container {
    border: 1px dashed #000;
    border-radius: 12px;
    padding: 2px;
    font: 1rem 'Fira Sans', sans-serif;
}


</style>
