<div class="col-md-12">
	<div class="row row-cols-1 row-cols-md-5">
		<div class="col mb-4">
			<a href="/users/view">
				<div class="card h-100">
					<div class="card-text-logo"><i class="fas fa-users"></i></div>
					<ul class="list-group list-group-flush dashboard-list">
						<li class="list-group-item">
							View all user accounts Saved In System.
						</li>
					</ul>
					<div class="card-body text-center">
						<span class="card-link font-weight-bold">View All Users</span>
					</div>
				</div>
			</a>
		</div>

		<div class="col mb-4">
			<a href="/users/create">
				<div class="card h-100">
					<div class="card-text-logo"><i class="fas fa-user"></i></div>
					<ul class="list-group list-group-flush dashboard-list">
						<li class="list-group-item">
							Register a new user account.
						</li>
					</ul>
					<div class="card-body text-center">
						<span class="card-link font-weight-bold">Create New User</span>
					</div>
				</div>
			</a>
		</div>

		<div class="col mb-4">
			<a href="/stock/add">
				<div class="card h-100">
					<div class="card-text-logo"><i class="fas fa-warehouse"></i></i></div>
					<ul class="list-group list-group-flush dashboard-list">
						<li class="list-group-item">
							Add New Item in Stock.
						</li>
					</ul>
					<div class="card-body text-center">
						<span class="card-link font-weight-bold">Add new Stock Item</span>
					</div>
				</div>
			</a>
		</div>

		<div class="col mb-4">
			<a href="/stock/view">
				<div class="card h-100">
					<div class="card-text-logo"><i class="fas fa-boxes"></i></i></div>
					<ul class="list-group list-group-flush dashboard-list">
						<li class="list-group-item">
							View all Items in Stock.
						</li>
					</ul>
					<div class="card-body text-center">
						<span class="card-link font-weight-bold">View All Stock Items</span>
					</div>
				</div>
			</a>
		</div>
		<div class="col mb-4">
			<a href="/stock/add/category">
				<div class="card h-100">
					<div class="card-text-logo"><i class="fas fa-toolbox"></i></div>
					<ul class="list-group list-group-flush dashboard-list">
						<li class="list-group-item">
							Add New Item Category.
						</li>
					</ul>
					<div class="card-body text-center">
						<span class="card-link font-weight-bold">Add new Item Category</span>
					</div>
				</div>
			</a>
		</div>
	</div>

	<div class="row row-cols-1 row-cols-md-5">
		<div class="col mb-4">
			<a href="/orders/request">
				<div class="card h-100">
					<div class="card-text-logo"><i class="fas fa-tools"></i></div>
					<ul class="list-group list-group-flush dashboard-list">
						<li class="list-group-item">
							Create a new Production Order.
						</li>
					</ul>
					<div class="card-body text-center">
						<span class="card-link font-weight-bold">Create New Production Order</span>
					</div>
				</div>
			</a>
		</div>
		
		<div class="col mb-4">
			<a href="/orders/view">
				<div class="card h-100">
					<div class="card-text-logo"><i class="fas fa-cogs"></i></div>
					<ul class="list-group list-group-flush dashboard-list">
						<li class="list-group-item">
							View all Production Orders.
						</li>
					</ul>
					<div class="card-body text-center">
						<span class="card-link font-weight-bold">View All Production Orders</span>
					</div>
				</div>
			</a>
		</div>
		<div class="col mb-4">
			<a href="/orders/view/approval">
				<div class="card h-100">
					<div class="card-text-logo"><i class="fas fa-chart-bar"></i></div>
					<ul class="list-group list-group-flush dashboard-list">
						<li class="list-group-item">
							Approve Pending Orders
						</li>
					</ul>
					<div class="card-body text-center">
						<span class="card-link font-weight-bold">View Orders Waiting on Your Approval</span>
					</div>
				</div>
			</a>
		</div>
		<div class="col mb-4">
			<a href="/supplier/view">
				<div class="card h-100">
					<div class="card-text-logo"><i class="fas fa-store"></i></div>
					<ul class="list-group list-group-flush dashboard-list">
						<li class="list-group-item">
							View All Suppliers
						</li>
					</ul>
					<div class="card-body text-center">
						<span class="card-link font-weight-bold">View All Suppliers in System</span>
					</div>
				</div>
			</a>
		</div>
		<div class="col mb-4">
			<a href="/supplier/register">
				<div class="card h-100">
					<div class="card-text-logo"><i class="fas fa-store-alt"></i></div>
					<ul class="list-group list-group-flush dashboard-list">
						<li class="list-group-item">
							Register New Supplier
						</li>
					</ul>
					<div class="card-body text-center">
						<span class="card-link font-weight-bold">Add New Supplier to the System</span>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>


<style>
	.card-text-logo {
		font-size: 4rem;
		padding: 15% 0%;
	}
</style>